// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#brewery {
  margin-top: 4em;
}

h4 a {
  color: #474035;
}

#about {
  margin-top: 1em;
}

.rounded-circle {
   margin-top: 1em;
}

.aboutname {
  margin-top: 1em;
}

.carousel {
  width: 100%;
}
